/* COLORS */
$white: rgb(233, 233, 233);
$black: #000;
$gray: rgb(32, 32, 32);
$blue: rgb(48, 118, 197);
$success: rgb(94, 185, 66);
$danger: rgb(212, 29, 29);

/* FONT */
$main-font-family: 'Poppins', sans-serif;;

