/* COLORS */
$white: rgb(233, 233, 233);
$black: #000;
$gray: rgb(75, 75, 75);
$blue: rgb(48, 118, 197);
$light-blue: rgb(211, 226, 236);
$light-blue-2: rgb(166, 198, 219);
$success: rgb(94, 185, 66);
$info: rgb(240, 232, 125);
$info-color: rgb(148, 140, 32);
$danger: rgb(212, 29, 29);

/* FONT */
$main-font-family: 'Poppins', sans-serif;;

